erights.conn.username=<%=@erightsconnusername%>
erights.conn.password=<%=@erightsconnpasswd%>
erights.conn.url=<%=@internalatyponlburl%>:3412
erights.conn.min=<%=@erightsconnmin%>
erights.conn.max=<%=@erightsconnmax%>
aws.default.role=USER

aws.iam.idp.arn=<%=@lambdaprincipalarn%>
aws.iam.idp.arn.mu=<%=@lambdaprincipalarnmu%>
aws.iam.rolePrePhrase=arn:aws:iam::<%=@awsaccount%>:role
aws.iam.roleSuffixWithSeparator=<%=@rolesuffixwithseparator%>

aces.authenticate.url=https://<%=@internalatyponlbdnsurl%>/acesWebService/rest/V1.0/services/authenticate

ces.contactus.anchor=<a href=https://account.oup.com/contact-us>Customer Support</a>

publickey.file.path=keypair/PublicKey
