<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>Signed out | Oxford Learner's Bookshelf</title>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<link rel="shortcut icon" type="image/x-icon" href="https://<%=@ceshostedzone%>/media/idp/self-managed-user/icons/favicon.ico"/>
		
		<link rel="stylesheet" type="text/css" href="https://<%=@ceshostedzone%>/media/idp/self-managed-user/OLB.css"/>
		<style>
            .simpleHeader {
              background: #fff;
              border-bottom: 1px solid #CCCDC9;
              position: fixed;
              top: 0;
              width: 100vw;
              height: 61px;
              z-index: 100;
            }
            
            .simpleHeader .col {
              flex-direction: row;
            }

            .simpleHeader .logo {
              margin-top: 15px;
            }
            
            .simpleHeader .logo svg {
              flex-shrink: 1;
              height: 30px;
              width: 105px;
              fill: #002147;
            }

            .bg {
              background-image: url(https://<%=@ceshostedzone%>/media/idp/self-managed-user/bg.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
          </style>
	</head>
	<body>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0px;height:0px;">
			<symbol viewBox="0 0 45.203 12.812" id="svg__oup-logo-dark">
				<path d="M1.906 1.336C2.318.701 2.919.383 3.711.383c.62 0 1.159.234 1.617.703.599.609.898 1.479.898 2.609 0 .942-.177 1.688-.531 2.234-.411.626-1.013.938-1.804.938-.625 0-1.165-.231-1.618-.695-.599-.604-.898-1.471-.898-2.602 0-.942.177-1.687.531-2.234M.914 6.117c.703.756 1.667 1.133 2.891 1.133 1.041 0 1.908-.292 2.601-.875.797-.672 1.195-1.575 1.195-2.711 0-1.016-.304-1.854-.914-2.516C5.979.383 5.018 0 3.805 0 2.768 0 1.901.294 1.203.883.401 1.564 0 2.472 0 3.602c0 1.021.305 1.859.914 2.515m38.867 5.547l-.164-.031c-.151.531-.43.797-.836.797-.183 0-.299-.031-.352-.094s-.078-.219-.078-.469v-.414h.367c.136 0 .229.025.281.078.042.047.07.158.086.336h.18v-1.086h-.18c-.016.172-.047.273-.094.305s-.206.047-.477.047h-.164v-.906h.273c.245 0 .419.034.523.102.13.078.211.234.242.469h.18V10h-2.281v.172c.213.026.352.068.414.125.078.073.117.24.117.5v.961c0 .281-.023.464-.07.547-.052.094-.206.156-.461.188v.164h2.25c.107-.266.187-.597.244-.993m-24.242 0l-.164-.031c-.151.531-.43.797-.836.797-.177 0-.294-.031-.352-.094-.053-.062-.078-.219-.078-.469v-.414h.367c.136 0 .227.025.273.078.047.047.078.158.094.336h.18v-1.086h-.18c-.016.172-.047.273-.094.305s-.206.047-.477.047h-.164v-.906h.273c.244 0 .422.034.531.102.125.078.206.234.242.469h.172V10h-2.273v.172c.214.026.352.068.414.125.078.073.117.24.117.5v.961c0 .281-.023.464-.07.547-.058.094-.211.156-.461.188v.164h2.242c.106-.266.187-.597.244-.993m18.539-1.492c.25.031.406.091.469.18.041.083.062.222.062.414v1.203c0 .188-.034.315-.102.383-.058.058-.195.106-.414.148v.156h1.617V12.5c-.229-.026-.38-.065-.453-.117-.094-.068-.141-.227-.141-.477v-1.695c.469.021.703.19.703.508 0 .266-.159.443-.477.531l-.062.016.108.188c.079.13.181.302.306.516.203.302.4.505.594.609.109.052.263.078.461.078h.391V12.5c-.234-.036-.467-.177-.695-.422a2.484 2.484 0 0 1-.539-.75c.349-.146.523-.359.523-.641 0-.469-.403-.702-1.211-.702-.489 0-.87.01-1.141.03v.157zm8.727-8.789c.683.562 1.023 1.349 1.023 2.359 0 .822-.211 1.495-.633 2.016-.484.599-1.153.898-2.008.898-.396 0-.669-.053-.82-.156-.208-.135-.312-.424-.312-.867V.656L40.5.641c.943 0 1.711.247 2.305.742M30.461.562c.344.016.567.075.672.18.13.136.195.453.195.953v5.312h2.477v-.288c-.521-.042-.849-.102-.984-.18-.229-.13-.344-.448-.344-.953V.578c.781 0 1.364.189 1.75.57.244.266.367.57.367.914 0 .323-.15.633-.454.93-.327.328-.77.531-1.327.609l.383.523c.525.682.891 1.125 1.094 1.328.349.37.779.716 1.289 1.039.344.214.641.354.891.422.244.062.627.094 1.148.094h3.109c.886 0 1.547-.076 1.984-.227a3.87 3.87 0 0 0 1.711-1.141c.521-.604.781-1.273.781-2.008 0-1.552-.742-2.57-2.227-3.055-.641-.213-1.558-.32-2.75-.32l-2.562.031V.56c.479.041.799.144.961.305.182.172.273.539.273 1.102v3.586c0 .417-.067.711-.203.883-.151.188-.453.281-.906.281-.469 0-1.162-.458-2.078-1.375a26.043 26.043 0 0 1-1.523-1.664c1.114-.323 1.672-.932 1.672-1.828 0-1.072-.936-1.609-2.805-1.609-1.146 0-2.011.011-2.594.031v.29zM16.25.531c.453.031.75.102.891.211.197.146.297.474.297.984v3.68c0 .525-.18.888-.539 1.086-.281.15-.789.227-1.523.227-.651 0-1.266-.442-1.844-1.328a135.818 135.818 0 0 0-1.437-2.219c.02-.021.276-.406.765-1.156.323-.495.621-.844.891-1.047.318-.245.752-.391 1.305-.438V.242h-2.868v.289c.485.042.727.185.727.43 0 .203-.146.534-.438.992-.229.375-.424.675-.586.898-.171-.261-.432-.67-.781-1.227-.385-.609-.679-1.07-.883-1.383H7.969V.53c.796.052 1.489.547 2.078 1.484a140.191 140.191 0 0 1 1.086 1.797c-.021.021-.427.597-1.219 1.727-.276.418-.552.707-.828.868-.266.167-.654.271-1.164.313v.289h2.953v-.289c-.5-.047-.75-.206-.75-.477 0-.192.193-.573.578-1.141.167-.255.391-.562.672-.922.031.042.638.984 1.82 2.828h6.664v-.288c-.511-.031-.833-.091-.969-.18-.209-.13-.312-.458-.312-.984V3.773l.719-.016c.359 0 .606.075.742.228.12.135.188.416.203.843h.258v-1.64c-.235.041-.636.062-1.203.062h-.719V.609h.883c.661 0 1.141.099 1.438.297.25.172.394.453.43.844h.258L21.493.242H16.25v.289zm7.797.805c.411-.635 1.014-.953 1.805-.953.619 0 1.158.234 1.617.703.6.609.898 1.479.898 2.609 0 .942-.177 1.688-.531 2.234-.412.625-1.013.938-1.805.938-.625 0-1.164-.231-1.617-.695-.599-.604-.899-1.471-.899-2.602 0-.942.178-1.687.532-2.234m-.992 4.781c.703.756 1.669 1.133 2.898 1.133 1.042 0 1.906-.292 2.594-.875.797-.672 1.195-1.575 1.195-2.711 0-1.016-.305-1.854-.914-2.516C28.125.383 27.167 0 25.953 0c-1.042 0-1.911.294-2.609.883-.802.682-1.204 1.589-1.204 2.719 0 1.021.305 1.859.915 2.515m-3.188 5.336c.182.084.289.136.32.156.256.146.383.303.383.469 0 .275-.139.414-.414.414-.359 0-.583-.291-.672-.875h-.156v.883c.271.146.531.219.781.219s.464-.052.641-.156a.691.691 0 0 0 .367-.641c0-.297-.224-.557-.672-.781-.391-.197-.586-.396-.586-.594 0-.089.034-.169.102-.242a.341.341 0 0 1 .266-.125c.261 0 .445.234.555.703h.164l.031-.758a1.444 1.444 0 0 0-.656-.172c-.239 0-.45.058-.633.172-.229.151-.344.354-.344.609 0 .292.175.532.523.719m21.008 0c.182.084.289.136.32.156.255.151.383.308.383.469 0 .275-.138.414-.414.414-.365 0-.589-.291-.672-.875h-.156v.883c.266.146.526.219.781.219.25 0 .464-.052.641-.156a.693.693 0 0 0 .367-.641c0-.297-.222-.557-.664-.781-.396-.197-.594-.396-.594-.594 0-.089.034-.169.102-.242a.341.341 0 0 1 .266-.125c.261 0 .445.234.555.703h.164l.031-.758a1.413 1.413 0 0 0-.656-.172c-.24 0-.451.058-.633.172-.229.151-.344.354-.344.609 0 .297.174.537.523.719M22 10.32c.073.072.109.292.109.656v.641c0 .417-.041.662-.125.734-.078.058-.22.106-.422.148v.156h1.609V12.5c-.229-.036-.38-.091-.453-.164-.062-.062-.094-.281-.094-.656v-.625c0-.417.036-.662.109-.734a1.02 1.02 0 0 1 .422-.148V10h-1.594v.172c.231.036.377.086.439.148m9.227-.148c.234.042.375.091.422.148.062.067.094.261.094.578v.688c0 .443-.026.693-.078.75-.057.073-.203.128-.438.164v.156h1.633V12.5c-.229-.031-.372-.068-.43-.109-.104-.067-.156-.229-.156-.484v-1.695c.552.031.828.242.828.633 0 .193-.036.328-.109.406-.073.083-.24.146-.5.188v.195c.812-.047 1.219-.341 1.219-.883 0-.239-.13-.427-.391-.562-.255-.136-.573-.202-.953-.202-.078 0-.458.01-1.141.03v.155zm-2.844.898c.172-.339.311-.562.414-.672a.778.778 0 0 1 .468-.227V10h-1.14v.172c.172.047.258.102.258.164 0 .078-.047.221-.141.43-.089.188-.174.359-.258.516a2.052 2.052 0 0 0-.18-.258c-.266-.411-.398-.641-.398-.688 0-.057.102-.112.305-.164V10H26.32v.172c.167.031.284.065.352.102.073.036.255.281.547.734.146.24.273.453.383.641v.305c0 .183-.026.305-.078.367-.062.084-.225.144-.484.18v.156h1.648V12.5c-.225-.031-.375-.086-.453-.164-.073-.073-.109-.211-.109-.414v-.32c.009-.026.095-.204.257-.532m-2.305-1.085c-.203.02-.453.03-.75.03h-.852c-.183 0-.477-.011-.883-.03 0 .223-.021.527-.062.913l.172.031c.036-.266.094-.439.172-.523.083-.088.245-.133.484-.133h.211v1.359c0 .406-.042.646-.125.719-.047.047-.188.097-.422.148v.156h1.633V12.5c-.219-.031-.367-.086-.445-.164-.073-.073-.109-.292-.109-.656v-1.406h.172c.219 0 .37.028.453.086.099.078.172.258.219.539h.18c-.032-.46-.048-.763-.048-.914m17.18 1.468c.183.084.289.136.32.156.255.151.383.308.383.469 0 .275-.138.414-.414.414-.359 0-.584-.291-.672-.875h-.156v.883c.271.146.531.219.781.219s.463-.052.641-.156a.693.693 0 0 0 .367-.641c0-.302-.224-.562-.672-.781-.391-.197-.586-.396-.586-.594a.36.36 0 0 1 .094-.242.364.364 0 0 1 .273-.125c.26 0 .445.234.555.703h.164l.031-.758a1.444 1.444 0 0 0-.656-.172c-.24 0-.451.058-.633.172-.229.151-.344.354-.344.609 0 .297.175.537.524.719m-27.32-1.281c.256.031.411.091.469.18.042.083.062.222.062.414v1.203c0 .188-.033.315-.102.383-.057.058-.193.106-.406.148v.156h1.617V12.5c-.234-.026-.385-.065-.453-.117-.094-.068-.141-.227-.141-.477v-1.695c.469.021.703.19.703.508 0 .266-.159.443-.477.531l-.07.016.117.188c.073.13.174.302.305.516.197.302.394.505.586.609.109.052.266.078.469.078H19V12.5c-.229-.036-.458-.177-.688-.422a2.441 2.441 0 0 1-.547-.75c.354-.146.531-.359.531-.641 0-.469-.406-.702-1.219-.702-.49 0-.87.01-1.141.03v.157zm-4.368 0c.297.047.445.117.445.211 0 .099-.091.359-.273.781-.177.422-.284.68-.32.773a16.059 16.059 0 0 1-.367-.805c-.183-.417-.274-.672-.274-.766 0-.083.141-.148.422-.195V10H9.695v.172c.162.016.281.06.36.133.062.058.14.19.234.398l.336.766.594 1.344h.078l.226-.508c.084-.203.248-.573.492-1.109.251-.511.412-.803.485-.875a.816.816 0 0 1 .351-.148V10H11.57v.172zm-3.187.148c.078.073.117.292.117.657v.641c0 .417-.042.662-.125.734-.078.058-.219.106-.422.148v.156h1.602V12.5c-.224-.036-.375-.091-.454-.164-.073-.073-.109-.292-.109-.656v-.625c0-.417.042-.662.125-.734a1.02 1.02 0 0 1 .422-.148V10H7.953v.172c.229.036.372.086.43.148m-2.274-.148c.313.021.505.081.578.18.079.088.118.403.118.945v.492l-.5-.508c-.683-.708-1.06-1.135-1.133-1.281h-.914v.172a.878.878 0 0 1 .57.344c.026.031.039.094.039.188v.414c0 .703-.044 1.104-.133 1.203-.067.094-.206.153-.414.18v.156h1.492V12.5c-.25-.026-.411-.065-.484-.117-.109-.073-.172-.242-.188-.508l-.023-.68v-.414c.172.192.44.472.805.836.224.234.549.581.976 1.039h.188v-.289a6.807 6.807 0 0 1-.016-.625c0-.864.042-1.338.125-1.422.068-.078.193-.127.375-.148V10H6.109v.172zm-2.031 0V10H2.656v.172c.177.01.302.06.375.148.068.089.102.253.102.492 0 .203-.011.406-.032.609-.036.432-.117.708-.242.828-.13.12-.304.18-.523.18-.443 0-.677-.182-.703-.547-.006-.047-.016-.159-.032-.336a14.757 14.757 0 0 1-.031-.461l-.062-1.101C1.305 9.995.93 10 .383 10v.172c.192.016.32.055.382.117.079.084.144.266.196.547.036.292.073.636.109 1.031.063.589.453.883 1.172.883.422 0 .719-.125.891-.375.13-.193.216-.562.258-1.109.041-.489.127-.8.257-.93a.567.567 0 0 1 .43-.164"></path>
			</symbol>
			<symbol viewBox="0 0 25 25" id="svg__profile">
				<path d="M1.56 23.44v-1.6c0-.6.47-.8.66-.9l6.86-3.23c.5-.22.83-.68.9-1.22s-.15-1.07-.58-1.4c-1.62-1.3-2.38-4.18-2.38-5.7v-3.9c0-1.65 2.85-3.92 5.48-3.92 2.65 0 5.47 2.24 5.47 3.9V9.4c0 1.5-.63 4.37-2.3 5.7-.43.33-.65.87-.6 1.4.07.55.42 1.02.9 1.24l6.8 3.23c.07.02.66.13.66.96v1.54H1.57zm21.88-3.9l-6.8-3.24c2.16-1.7 2.9-5.05 2.9-6.93v-3.9c0-2.6-3.6-5.47-7.04-5.47-3.45 0-7.04 2.88-7.04 5.47v3.9c0 1.7.78 5.17 2.97 6.92l-6.87 3.23S0 20.23 0 21.1v2.34C0 24.3.7 25 1.56 25h21.88c.86 0 1.56-.7 1.56-1.56V21.1c0-.93-1.56-1.57-1.56-1.57"></path>
			</symbol>
			<!-- 
			<symbol viewBox="0 0 410.155 410.155" id="svg__twitter">
				<path d="M403.632 74.18a162.414 162.414 0 0 1-28.28 9.537 88.177 88.177 0 0 0 23.275-37.067c1.295-4.051-3.105-7.554-6.763-5.385a163.188 163.188 0 0 1-43.235 17.862 11.02 11.02 0 0 1-2.702.336c-2.766 0-5.455-1.027-7.57-2.891-16.156-14.239-36.935-22.081-58.508-22.081-9.335 0-18.76 1.455-28.014 4.325-28.672 8.893-50.795 32.544-57.736 61.724-2.604 10.945-3.309 21.9-2.097 32.56a3.166 3.166 0 0 1-.797 2.481 3.278 3.278 0 0 1-2.753 1.091c-62.762-5.831-119.358-36.068-159.363-85.14-2.04-2.503-5.952-2.196-7.578.593-7.834 13.44-11.974 28.812-11.974 44.454 0 23.972 9.631 46.563 26.36 63.032a79.24 79.24 0 0 1-20.169-7.808c-3.06-1.7-6.825.485-6.868 3.985-.438 35.612 20.412 67.3 51.646 81.569a79.567 79.567 0 0 1-16.786-1.399c-3.446-.658-6.341 2.611-5.271 5.952 10.138 31.651 37.39 54.981 70.002 60.278-27.066 18.169-58.585 27.753-91.39 27.753l-10.227-.006c-3.151 0-5.816 2.054-6.619 5.106-.791 3.006.666 6.177 3.353 7.74 36.966 21.513 79.131 32.883 121.955 32.883 37.485 0 72.549-7.439 104.219-22.109 29.033-13.449 54.689-32.674 76.255-57.141 20.09-22.792 35.8-49.103 46.692-78.201 10.383-27.737 15.871-57.333 15.871-85.589v-1.346c-.001-4.537 2.051-8.806 5.631-11.712a174.776 174.776 0 0 0 35.16-38.591c2.573-3.849-1.485-8.673-5.719-6.795z" fill="#76a9ea"></path>
			</symbol>
			<symbol viewBox="0 0 408.788 408.788" id="svg__facebook">
				<path d="M353.701 0H55.087C24.665 0 .002 24.662.002 55.085v298.616c0 30.423 24.662 55.085 55.085 55.085h147.275l.251-146.078h-37.951a8.954 8.954 0 0 1-8.954-8.92l-.182-47.087a8.955 8.955 0 0 1 8.955-8.989h37.882v-45.498c0-52.8 32.247-81.55 79.348-81.55h38.65a8.955 8.955 0 0 1 8.955 8.955v39.704a8.955 8.955 0 0 1-8.95 8.955l-23.719.011c-25.615 0-30.575 12.172-30.575 30.035v39.389h56.285c5.363 0 9.524 4.683 8.892 10.009l-5.581 47.087a8.955 8.955 0 0 1-8.892 7.901h-50.453l-.251 146.078h87.631c30.422 0 55.084-24.662 55.084-55.084V55.085C408.786 24.662 384.124 0 353.701 0z" fill="#475993"></path>
			</symbol>
			<symbol viewBox="0 0 461.001 461.001" id="svg__youtube">
				<path d="M365.257 67.393H95.744C42.866 67.393 0 110.259 0 163.137v134.728c0 52.878 42.866 95.744 95.744 95.744h269.513c52.878 0 95.744-42.866 95.744-95.744V163.137c0-52.878-42.866-95.744-95.744-95.744zm-64.751 169.663l-126.06 60.123c-3.359 1.602-7.239-.847-7.239-4.568V168.607c0-3.774 3.982-6.22 7.348-4.514l126.06 63.881c3.748 1.899 3.683 7.274-.109 9.082z" fill="#f61c0d"></path>
			</symbol>
			<symbol viewBox="0 0 382 382" id="svg__linkedin">
				<path d="M347.445 0H34.555C15.471 0 0 15.471 0 34.555v312.889C0 366.529 15.471 382 34.555 382h312.889C366.529 382 382 366.529 382 347.444V34.555C382 15.471 366.529 0 347.445 0zM118.207 329.844c0 5.554-4.502 10.056-10.056 10.056H65.345c-5.554 0-10.056-4.502-10.056-10.056V150.403c0-5.554 4.502-10.056 10.056-10.056h42.806c5.554 0 10.056 4.502 10.056 10.056v179.441zM86.748 123.432c-22.459 0-40.666-18.207-40.666-40.666S64.289 42.1 86.748 42.1s40.666 18.207 40.666 40.666-18.206 40.666-40.666 40.666zM341.91 330.654a9.247 9.247 0 0 1-9.246 9.246H286.73a9.247 9.247 0 0 1-9.246-9.246v-84.168c0-12.556 3.683-55.021-32.813-55.021-28.309 0-34.051 29.066-35.204 42.11v97.079a9.246 9.246 0 0 1-9.246 9.246h-44.426a9.247 9.247 0 0 1-9.246-9.246V149.593a9.247 9.247 0 0 1 9.246-9.246h44.426a9.247 9.247 0 0 1 9.246 9.246v15.655c10.497-15.753 26.097-27.912 59.312-27.912 73.552 0 73.131 68.716 73.131 106.472v86.846z" fill="#0077b7"></path>
			</symbol>
			<symbol viewBox="0 0 447.674 447.674" id="svg__wordpress">
				<g fill="#00769d">
					<path d="M134.289 138.16h-24.722l67.399 190.521 37.732-107.825-29.254-82.696H159.36v-18.154h115.508v18.154h-27.049l67.398 190.521 24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843 35.843-35.843c1.071 0 2.111.058 3.13.153-33.541-31.663-78.768-51.08-128.534-51.08-65.027 0-122.306 33.146-155.884 83.458h66.336v18.154h.002zm-97.741 85.677c0 71.704 40.302 133.986 99.483 165.458l-84.52-238.919c-9.628 22.556-14.963 47.385-14.963 73.461zm350.285-92.29c2.679 15.774 1.868 33.503-2.243 51.301h.745l-2.832 8.092c-1.678 5.843-3.791 11.82-6.191 17.693l-64.444 180.541c59.057-31.51 99.256-93.725 99.256-165.338 0-33.557-8.834-65.048-24.291-92.289z"></path>
					<path d="M166.075 402.033c18.195 5.894 37.603 9.091 57.762 9.091 19.228 0 37.777-2.902 55.239-8.285l-54.784-154.862-58.217 154.056z"></path>
					<path d="M382.113 65.56C339.836 23.283 283.625 0 223.836 0S107.837 23.283 65.56 65.56 0 164.047 0 223.837c0 59.789 23.283 115.999 65.56 158.276s98.488 65.56 158.277 65.56 115.999-23.283 158.277-65.56c42.277-42.277 65.56-98.488 65.56-158.276-.001-59.79-23.284-116-65.561-158.277zM223.836 431.883c-114.717 0-208.046-93.329-208.046-208.046S109.119 15.79 223.836 15.79s208.046 93.33 208.046 208.047-93.328 208.046-208.046 208.046z"></path>
				</g>
			</symbol>
			-->
		</svg>
		<header class="simpleHeader">
			<div class="grid">
				<div class="row">
					<div class="col">
						<a href="https://global.oup.com" class="logo">
							<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 45.203 12.812">
								<use xlink:href="#svg__oup-logo-dark"></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</header>
		<div class="bg">
			<div class="grid">
				<div class="row" style="justify-content:flex-end;">
					<div class="col sm7 md6 lg5" style="padding-top:calc(61px + 2rem);padding-bottom:2rem;min-height:100vh;justify-content:center;">
						<div class="_1t4X">
							<div class="xwsD">
								<div class="UH1j _3Hup color-primary-blue-hover-bg" aria-hidden="true">
									<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 1 1">
										<use xlink:href="#svg__profile"></use>
									</svg>
								</div>
							</div>
							<div class="aWkl _35CG">
								<div style="margin:-15px 5px 20px;text-align:center;">
									<div class="gin-bot3">
										<h1 style="font-size:26px;">You've signed out</h1>
									</div>
									<p class="lead">What would you like to do next?</p>
								</div>
								<ul>
									<li>
										<hr style="margin:10px -15px;"/>
										<div class="nJq_ _1gFA">
											<div class="ozMT">
												<div class="UH1j _3Xbi color-undefined-bg _3RPG _2Je4" aria-hidden="true">
													<img src="<%=@olbhostedzone%>/favicon.ico" alt=""/>
												</div>
											</div>
											<div class="_18yx">
												<a class="block" href="<%=@olbhostedzone%>">Sign in to the Oxford Learner's Bookshelf</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="_3OIB">
			<!-- 
			<div class="_1MFu">
				<div class="grid">
					<div class="row">
						<div class="col">
							<ul>
								<li>
									<a href="#" target="_blank">
										<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 408.788 408.788">
											<use xlink:href="#svg__twitter"></use>
										</svg>
										<span class="a11y-hide">Link to OUP twitter link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 408.788 408.788">
											<use xlink:href="#svg__facebook"></use>
										</svg>
										<span class="a11y-hide">Link to OUP Facebook link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 408.788 408.788">
											<use xlink:href="#svg__youtube"></use>
										</svg>
										<span class="a11y-hide">Link to OUP Youtube link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 408.788 408.788">
											<use xlink:href="#svg__linkedin"></use>
										</svg>
										<span class="a11y-hide">Link to OUP Linkedin link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 408.788 408.788">
											<use xlink:href="#svg__wordpress"></use>
										</svg>
										<span class="a11y-hide">Link to OUP Wordpress link opens in a new tab</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			-->
			<div class="grid _3khM">
				<div class="row">
					<div class="col xs-hide sm-show sm3 md2 zze3">
						<h4>Talk to us</h4>
						<ul>
							<li>
								<a href="https://www.surveymonkey.co.uk/r/LJ8CZJ9" target="_blank">Tell us what you think 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://account.oup.com/support/contact-us" target="_blank">Contact us 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://account.oup.com/support/index" target="_blank">Help and support 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col xs-hide sm-show sm3 md2 zze3">
						<h4>More from us</h4>
						<ul>
							<li>
								<a href="https://elt.oup.com/" target="_blank">English Language Teaching 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://elt.oup.com/teachersclub/" target="_blank">Oxford Teacher's Club 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://www.oxfordlearnersbookshelf.com/" target="_blank">Oxford Learner's Bookshelf 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="http://www.oxfordlearnersdictionaries.com/" target="_blank">Oxford Learner's Dictionaries 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col xs-hide sm-show sm3 md2 zze3">
						<h4>Who we are</h4>
						<ul>
							<li>
								<a href="https://global.oup.com/about/" target="_blank">Our mission 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://global.oup.com/about/oup_history/" target="_blank">Our history 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://global.oup.com/about/annualreport/" target="_blank">Annual report 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://global.oup.com/about/way_we_work/" target="_blank">The way we work 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
							<li>
								<a href="https://global.oup.com/jobs/" target="_blank">Working for OUP 
									<span class="a11y-hide">link opens in a new tab</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col sm3 md6 _38AL">
						<p>Oxford University Press is a department of the University of Oxford. It furthers the University's objective of excellence in research, scholarship, and education by publishing worldwide.</p>
						<svg tabindex="-1" focusable="false" aria-hidden="true" class="" viewBox="0 0 125 36">
							<use xlink:href="#svg__oup-logo-dark"></use>
						</svg>
					</div>
				</div>
			</div>
			<div class="_1stN">
				<div class="grid">
					<div class="row">
						<div class="col">
							<ul>
								<li>
									<a href="https://global.oup.com/privacy" target="_blank">Privacy Policy 
										<span class="a11y-hide">link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="https://global.oup.com/cookiepolicy/" target="_blank">Cookie Policy 
										<span class="a11y-hide">link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="https://account.oup.com/support/articles/terms-and-conditions" target="_blank">Terms and Conditions 
										<span class="a11y-hide">link opens in a new tab</span>
									</a>
								</li>
								<li>
									<a href="https://elt.oup.com/accessibility" target="_blank">Accessibility 
										<span class="a11y-hide">link opens in a new tab</span>
									</a>
								</li>
								<li class="_2_bm">© 2018 Oxford University Press</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
